.addInvoiceForm > div{
    padding: 8px 10px;
    display:inline-table;
}

/* .addInvoiceForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.addInvoiceForm >div > input {
    width: 100px!important;
}