.dropdown {
    display: none;
    z-index: 999;
    position: absolute;
    background: white;
    padding-left: 0;
    list-style: none;
    border-radius: 4px;
    margin: 0.5rem;
}

.dropdown li {
    border-top: 1px solid #eee;
    /* padding-bottom: 8px; */
    padding: 8px;
}

.dropdown li:first-child {
    border-top: none;
}

.show {
    display: block !important;
}

.menus {
    display: flex;
    list-style: none;
}

li a {
    text-decoration: none;
    margin-left: 10px;
    color: #565D6DFF;
}

li button {
    border: none;
    color: #565D6DFF;
    font-size: 14px;
    margin-left: 10px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}