.dropdown {
    display: none;
    z-index: 999;
    position: absolute;
    background: white;
    padding:0;
    border: 1px solid #eee;
    list-style: none;
    margin: 1.1em 0.5rem;
}

.dropdown li {
    border-top: 1px solid #eee;
    padding: 12px 22px;
    cursor: pointer;
    font-size: 14px;
}
.dropdown li:hover {
    background: #f7f7f3;
}

.dropdown li:first-child {
    border-top: none;
}

.show {
    display: block !important;
    opacity: 1;
  transition: opacity 1s;

}
.hide {
    display: none !important;
    opacity: 1;
  transition: opacity 1s;

}

.dropdown-selected-border {
    height:3px;
    /* border-bottom: 3px solid gray; */
    margin-top:10px;
  }

  .dorpdownList{
    position: absolute;
    margin-top: -27px;
}
.menus {
    display: flex;
    list-style: none;
}

li a {
    text-decoration: none;
    margin-left: 10px;
    color: #565D6DFF;
}

li button {
    border: none;
    color: #565D6DFF;
    font-size: 14px;
    margin-left: 10px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}