body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Mukta', sans-serif;
  src: local("Mukta"),
    url("./assets/fonts/Mukta-Bold.ttf") format("truetype");
}

body {
  font-family: 'Mukta', sans-serif;
}

input, select{
  padding: 10px;
  margin: 4px;
  border-radius: 2px;
  border: none;
  background-color: #eee;
  display: block;
}

input::placeholder {
  opacity: 0.5;
  color: #c9c9c9
}
input[type=submit]{
  cursor: pointer;
  background-color: #4CEAFFFF;
}