body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: local("Inter"),
    url("./assets/fonts/Inter-Bold.ttf") format("truetype");
}

body {
  font-family: 'Inter', sans-serif;
}

input, select{
  padding: 10px;
  margin: 4px 4px 4px 0px;
  border-radius: 4px;
  border: none;
  background-color: #eee;
  display: block;
}

input::placeholder {
  opacity: 0.5;
  color: #c9c9c9
}
input[type=submit]{
  cursor: pointer;
  background-color: #4CEAFFFF;
  color: #005F6CFF;
}
input[type=reset]{
  cursor: pointer;
  background-color: #4CEAFFFF;
  color: #005F6CFF;
}
label{
  font-size: 14px;
  font-weight: 700;
}

.icon_table {
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}